<div id="app">
	<div>Dictionary</div>
	<table>
		<tbody>
			<tr v-for="([word, translation], index) in dictionary">
				<td><input style="width: 80px;" type="text" v-model="dictionary[index][0]"/></td>
				<td><input style="width: 70px;" type="text" v-model="dictionary[index][1]"/></td>
				<td><button v-if="word.trim().length > 1" style="cursor: pointer;" @click="refreshWord(word)">🔄</button></td>
				<td><a :href="getDictLink(word)" target="_blank"><button v-if="word.trim().length > 1" style="cursor: pointer; padding-left: 1px; padding-right: 1px;">查</button></a></td>
				<td><button style="width: 15px;" @click="removeWord(word)">x</button></td>
			</tr>
		</tbody>
	</table>
	<button style="width: 35px;" @click="addWord('')">+</button>
</div>
<script src="static/js/jquery.js"></script>
<script src="static/js/jquery.md5.js"></script>
<script src="static/js/vue.js"></script>
<script>
'use strict';

var seperators = ' ,.?()[]=+-_:"\'“”/\\#&*@!`'.split('');

var app = new Vue({
	el: '#app',
	data: function () {
		var version = '0.1.0';
		var dict_str = window.localStorage.getItem('pdf-translate');
		var dictionary = undefined;
		if (dict_str) {
			try {
				var version_stored;
				var obj = JSON.parse(dict_str);
				version_stored = obj.version;
				if (version_stored == version)
					dictionary = obj.dictionary;
			} catch (e) { }
		}
		if (!dictionary || dictionary.length == 0)
			dictionary = [['', '']];
		return {
			version: version,
			dictionary: dictionary,
		};
	},
	computed: {
		words: function () {
			return this.dictionary.map(t => t[0]);
		},
		trimwords: function () {
			return this.dictionary.map(t => t[0].trim());
		},
	},
	methods: {
		addWord: function (word) {
			word = word.trim();
			if (-1 != this.trimwords.indexOf(word))
				return;
			for (var i = this.dictionary.length - 1; i >= 0; i--)
				if (this.dictionary[i][0] || this.dictionary[i][1])
					break;
			this.dictionary.splice(i + 1, 0, [word, word]);
			this.queryDictionary(word);
		},
		removeWord: function (word) {
			this.dictionary.splice(this.words.indexOf(word), 1);
		},
		refreshWord: function (word) {
			var ind = this.words.indexOf(word);
			if (ind >= 0) {
				Vue.set(this.dictionary[ind], 1, word);
				setTimeout(() => this.queryDictionary(word), 100);
			}
		},
		getAllWords: function (line) {
			var lineLower = line.toLowerCase();
			var words = [];
			var pos = 0;
			while (pos >= 0) {
				var minpos = -1;
				var minword;
				var mintrans;
				this.dictionary.forEach(([word, translated]) => {
					word = word.trim();
					if (0 == translated.length)
						translated = word;
					var shortword = word;
					if (shortword.endsWith('s'))
						shortword = shortword.slice(0, shortword.length - 1);
					else if (shortword.endsWith('es'))
						shortword = shortword.slice(0, shortword.length - 2);
					if (shortword.length <= 1)
						return;
					var thispos = lineLower.indexOf(shortword.toLowerCase(), pos);
					if (thispos >= 0 && (minpos == -1 || thispos < minpos)) {
						if (thispos == 0 || -1 != seperators.indexOf(lineLower[thispos - 1])) {
							var matched_length = -1;
							if (thispos + shortword.length == lineLower.length || -1 != seperators.indexOf(lineLower[thispos + shortword.length]))
								matched_length = shortword.length;
							if (thispos + shortword.length + 1 <= lineLower.length && lineLower.slice(thispos + shortword.length, thispos + shortword.length + 1) == 's' && (thispos + shortword.length + 1 == lineLower.length || -1 != seperators.indexOf(lineLower[thispos + shortword.length + 1])))
								matched_length = shortword.length + 1;
							if (thispos + shortword.length + 2 <= lineLower.length && lineLower.slice(thispos + shortword.length, thispos + shortword.length + 2) == 'es' && (thispos + shortword.length + 2 == lineLower.length || -1 != seperators.indexOf(lineLower[thispos + shortword.length + 2])))
								matched_length = shortword.length + 1;
							if (matched_length > 0) {
								minpos = thispos;
								minword = line.slice(thispos, thispos + matched_length);
								mintrans = translated;
							}
						}
					}
				});
				if (minpos >= 0) {
					words.push({
						pos: minpos,
						word: minword,
						translated: mintrans,
					});
					pos = minpos + minword.length;
				} else {
					pos = -1;
				}
			}
			return words;
		},
		queryDictionary: function (word) {
			var query = word.trim();
			if (query.length > 1 && query.length < 25) {
				var appKey = '65eccc07a70b3f1f';
				var key = 'KQXhVNw0S39r3EIqAjdKA9XDsbHknyhA';
				var salt = (new Date).getTime();
				var from = '';
				var to = 'zh-CHS';
				var str1 = appKey + query + salt +key;
				var sign = $.md5(str1);
				$.ajax({
					url: '//openapi.youdao.com/api',
					type: 'post',
					dataType: 'jsonp',
					data: {
						q: query,
						appKey: appKey,
						salt: salt,
						from: from,
						to: to,
						sign: sign,
					},
					success: data => {
						var translation = data.translation[0];
						console.log(query, translation);
						var ind = this.words.indexOf(word);
						if (ind >= 0 && translation.length > 0) {
							Vue.set(this.dictionary[ind], 1, translation);
						}
					},
				});
			}
		},
		getDictLink: (word) => {
			return 'http://dict.youdao.com/w/' + word.trim();
		},
	},
	watch: {
		dictionary: function () {
			window.localStorage.setItem('pdf-translate', JSON.stringify({
				version: this.version,
				dictionary: this.dictionary,
			}));
			translateRefreshAll();
		},
	},
});

$('#viewerContainer').keypress(function (e) {
	var eCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
	if (eCode == 13) {
		translateSelection();
	}
});

function translateSelection() {
	var sel = window.getSelection();
	if (sel.rangeCount == 0)
		return;
	var rng = sel.getRangeAt(0);
	if (rng.startContainer != rng.endContainer && rng.startContainer.parentNode.nextSibling != rng.endContainer.parentNode)
		return;
	var startContainer = rng.startContainer;
	var lo = rng.startOffset;
	if (rng.startContainer.length == rng.startOffset && rng.startContainer.parentNode.nextSibling == rng.endContainer.parentNode) {
		startContainer = rng.endContainer;
		lo = 0;
	}
	while (lo > 0 && -1 == seperators.indexOf(startContainer.data[lo]) && -1 == seperators.indexOf(startContainer.data[lo - 1]))
		lo--;
	while (lo < startContainer.data.length - 1 && -1 != seperators.indexOf(startContainer.data[lo]))
		lo++;
	var hi = lo + 1;
	while (hi < startContainer.data.length && -1 == seperators.indexOf(startContainer.data[hi]))
		hi++;
	var word = startContainer.data.slice(lo, hi);
	app.addWord(word);
}

function translateRefreshAll() {
	$('.textLayer').each((_, textLayer) => translateTextLayer(textLayer));
}

function translateTextLayer(textLayer) {
	var transLayer = textLayer.previousSibling;
	if (transLayer.className != 'transLayer') {
		transLayer = document.createElement('div');
		transLayer.className = 'transLayer';
		textLayer.parentNode.insertBefore(transLayer, textLayer);
	} else {
		$(transLayer).empty();
	}
	$(textLayer).children().each((_, divSrc) => {
		var textSrc = divSrc.textContent;
		var toHide = [];
		app.getAllWords(textSrc).forEach(({pos, word, translated}) => {
			var divDst = divSrc.cloneNode();
			var span1 = document.createElement('span');
			var span2 = document.createElement('span');
			var span3 = document.createElement('span');
			var span4 = document.createElement('span');
			span1.style.color = 'transparent';
			span1.textContent = textSrc.slice(0, pos);
			span3.style.position = 'absolute';
			span3.style.color = 'transparent';
			span3.style['background-color'] = 'white';
			span3.style['opacity'] = '0.9';
			span3.textContent = word;
			span4.style.position = 'absolute';
			span4.textContent = translated;
			span2.appendChild(span3);
			span2.appendChild(span4);
			divDst.appendChild(span1);
			divDst.appendChild(span2);
			transLayer.appendChild(divDst);
			toHide.push(divDst);
		});
		if (toHide) {
			$(divSrc).hover(() => {
				toHide.forEach(divDst => divDst.style.display = 'none');
			}, () => {
				toHide.forEach(divDst => divDst.style.display = 'block');
			});
		}
	});
}

// TODO: 监听 drop
</script>
<style>
.transLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    # opacity: 0.2;
    line-height: 1.0;
}

.transLayer > div {
	# color: transparent;
	position: absolute;
	white-space: pre;
	cursor: text;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

#app {
	position: absolute;
	top: 40px;
	left: 0;
	padding: 3px 3px 13px 3px;
	max-height: 60px;
	overflow-y: hidden;
	font-size: 80%;
	background-color: #eee;
	# opacity: 0.5;
}

#app:hover, #app:focus-within {
	max-height: 80%;
	overflow-y: auto;
	opacity: 1.0;
}

#app input, #app button {
	font-size: 80%;
}
</style>
